- HSRP status verified
- OSPF neighbors verified
- EtherChannel operational
- STP root bridge verified
- Failover successful
- End-to-end connectivity maintained
# HSRP
##### DSW1
![[DSW1 HSRP verify.png|312]]
##### DSW2
![[DSW2 HSRP verify.png|309]]
# OSPF
##### DSW1
![[DSW1 OSPF neighbors.png|511]]
![[DSW1 routes.png|410]]
##### DSW2
![[DSW2 OSPF neighbors.png|525]]
![[DSW2 routes.png|422]]
# EtherChannel
##### DSW1
![[DSW1 LAG.png|368]]
##### DSW2
![[DSW2 LAG.png|370]]
# STP
##### DSW1
![[DSW1 STP.png|316]]
##### DSW2
![[DSW2 STP.png|317]]