- HSRP status verified
- OSPF neighbors verified
- EtherChannel operational
- STP root bridge verified
- Failover successful
- End-to-end connectivity maintained
# HSRP

##### DSW1

![DSW1 HSRP Verification](../images/DSW1%20HSRP%20verify.png)

##### DSW2

![DSW2 HSRP Verification](../images/DSW2%20HSRP%20verify.png)

---

# OSPF

##### DSW1

![DSW1 OSPF Neighbors](../images/DSW1%20OSPF%20neighbors.png)

![DSW1 Routing Table](../images/DSW1%20routes.png)

##### DSW2

![DSW2 OSPF Neighbors](../images/DSW2%20OSPF%20neighbors.png)

![DSW2 Routing Table](../images/DSW2%20routes.png)

---

# EtherChannel

##### DSW1

![DSW1 EtherChannel](../images/DSW1%20LAG.png)

##### DSW2

![DSW2 EtherChannel](../images/DSW2%20LAG.png)

---

# STP

##### DSW1

![DSW1 STP](../images/DSW1%20STP.png)

##### DSW2

![DSW2 STP](../images/DSW2%20STP.png)
