Static Route Verification (Routing Tables):

![DSW1 static route check](../images/DSW1%20static%20route%20check.png)
![RTR-2 static route check](../images/RTR-2%20static%20route%20check.png)
![RTR-3 static route check](../images/RTR-3%20static%20route%20check.png)
![RTR-4 static route check](../images/RTR-4%20static%20route%20check.png)

All pings between all routed devices were successful with the static routing configuration

OSPF Verification:
- Interface status
- Routing tables
- OSPF neighbors

	DSW1

		![Pasted image 20260710133645](../images/Pasted%20image%2020260710133645.png)
		![Pasted image 20260710133500](../images/Pasted%20image%2020260710133500.png)
		![Pasted image 20260710133526](../images/Pasted%20image%2020260710133526.png)
		![Pasted image 20260710133600](../images/Pasted%20image%2020260710133600.png)
		![Pasted image 20260710133725](../images/Pasted%20image%2020260710133725.png)
		![Pasted image 20260710133804](../images/Pasted%20image%2020260710133804.png)


	RTR-2

		![Pasted image 20260710133942](../images/Pasted%20image%2020260710133942.png)
		![Pasted image 20260710134007](../images/Pasted%20image%2020260710134007.png)
		![Pasted image 20260710134040](../images/Pasted%20image%2020260710134040.png)
		![Pasted image 20260710134111](../images/Pasted%20image%2020260710134111.png)
		![Pasted image 20260710134122](../images/Pasted%20image%2020260710134122.png)
		![Pasted image 20260710134132](../images/Pasted%20image 20260710134132.png)


	RTR-3

		![Pasted image 20260710134408](../images/Pasted%20image%2020260710134408.png)
		![Pasted image 20260710134420](../images/Pasted%20image%2020260710134420.png)
		![Pasted image 20260710134429](../images/Pasted%20image%2020260710134429.png)
		![Pasted image 20260710134456](../images/Pasted%20image%2020260710134456.png)
		![Pasted image 20260710134507](../images/Pasted%20image%2020260710134507.png)
		![Pasted image 20260710134516](../images/Pasted%20image%2020260710134516.png)


	RTR-4

		![Pasted image 20260710134632](../images/Pasted%20image%2020260710134632.png)
		![Pasted image 20260710134643](../images/Pasted%20image%2020260710134643.png)
		![Pasted image 20260710134718](../images/Pasted%20image%2020260710134718.png)
		![Pasted image 20260710134752](../images/Pasted%20image%2020260710134752.png)
		![Pasted image 20260710134805](../images/Pasted%20image%2020260710134805.png)
		![Pasted image 20260710134816](../images/Pasted%20image%2020260710134816.png)

All pings and traceroute were successful
