Static Route Verification (Routing Tables):

![DSW1 static route check](../images/DSW1%20static%20route%20check.png)

![RTR-2 static route check](../images/RTR-2%20static%20route%20check.png)

![RTR-3 static route check](../images/RTR-3%20static%20route%20check.png)

![RTR-4 static route check](../images/RTR-4%20static%20route%20check.png)
All pings between all routed devices were successful with the static routing configuration

OSPF Verification:
- Interface status
- Routing tables
- OSPF neighbors

	DSW1
	![[Pasted image 20260710133645.png|520]]
		![[Pasted image 20260710133500.png|423]]
		![[Pasted image 20260710133526.png|421]]
		![[Pasted image 20260710133600.png|424]]
		![[Pasted image 2026
		![[Pasted image 20260710133725.png|320]]
		![[Pasted image 20260710133804.png|353]]

	RTR-2
		![[Pasted image 20260710133942.png|451]]
		![[Pasted image 20260710134007.png|440]]
		![[Pasted image 20260710134040.png|468]]
		![[Pasted image 20260710134111.png|373]]
		![[Pasted image 20260710134122.png|421]]
		![[Pasted image 20260710134132.png|491]]

	RTR-3
		![[Pasted image 20260710134408.png|460]]
		![[Pasted image 20260710134420.png|404]]
		![[Pasted image 20260710134429.png|463]]
		![[Pasted image 20260710134456.png|377]]
		![[Pasted image 20260710134507.png|470]]
		![[Pasted image 20260710134516.png|455]]

	RTR-4
		![[Pasted image 20260710134632.png|485]]
		![[Pasted image 20260710134643.png|407]]
		![[Pasted image 20260710134718.png|447]]
		![[Pasted image 20260710134752.png|363]]
		![[Pasted image 20260710134805.png|462]]
		![[Pasted image 20260710134816.png|446]]

All pings and traceroute were successful
